<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp</title>
    <link rel="stylesheet" href="chats.css">
</head>
<body>
    <form method="get" action="http://localhost:8080/chats/new">
        <button>New chat</button>
    </form>
    <br>
    <hr>
    <hr>
    <div class="box">
        <%for(chat of chats){%>
        <h2 class="content">From:<%=chat.from%></h2>
        <h2 class="content">To:<%=chat.to%></h2>
        <h2 class="msg">message:<%=chat.msg%></h2>
        <h4 class="content">Time:<%=chat.time%></h4>
        <br>
        <form method="post" action="/chats/<%=chat.id%>?_method=delete">
            <button>delete</button>
        </form>
        <form method="GET" action="/chats/<%= chat.id %>/edit">
            <button>Edit</button>
        </form>
        <hr>
        <%}%>
    </div>
</body>
</html>